@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    /* font-family: 'Raleway', sans-serif;
    background: rgb(95, 92, 92); */
    background: rgb(54, 49, 49);
}

.head{
    color: #eaeaea;
    /* background: rgb(54, 49, 49); */
    text-transform: uppercase;
    font-weight: 300;
    font-size: 60px;
    height: 62vh;
    width: 100vw;
    position: relative;
    z-index:1111;
    text-align: center;
    line-height: 25px;
    transition: all 0.5s;;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.head-hide{
    height: 0vh;
    opacity: 0;
}

.head span{
    font-weight: 900;
}
.name{
    width: 500px;
    top: 50%;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    margin-top: -30px;
}

.sub-name{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 7px;
    font-weight: 300;
    margin-left: 23px;
    color: #28b6cf;
    font-size: 35px;
}

.home-btn {
    background-color: #28b6cf;
    border: none;
    border-radius: 2px;
    margin-top: 10px;
    width: 170px;
    cursor: pointer;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    outline:none;
}

.home-btn:hover{
    background-color: #218394;
}

@media only screen and (max-width: 460px) {
    .home-btn {
        width: 140px;
        font-size: 12px;
    }
    .name {
        font-size: 60px;
    }
    .sub-name{
        font-size: 28px;
    }
    .head{
        width: 93vw;
    }
}

@media only screen and (max-width: 350px) {
    .home-btn {
        width: 120px;
        font-size: 12px;
    }
    .name {
        font-size: 50px;
    }
    .sub-name{
        font-size: 24px;
    }
    .head{
        width: 93vw;
    }
}