@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.projectHead{
    color: #eaeaea;
    /* background: rgb(54, 49, 49); */
    text-transform: uppercase;
    font-weight: 300;
    font-size: 40px;
    height: 12vh;
    width: 100%;
    /* position: relative; */
    /* z-index:1111; */
    /* text-align: center; */
    line-height: 25px;
    transition: all 0.5s;;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    overflow: hidden;
}

.projectHead span{
    font-weight: 900;
}
.projectName{
    width: 100%;
    margin-top: 30px;
    margin-left: 60px;
}

.projectSub-name{
    margin-top: 6px;
    margin-left: 130px;
    width: 100%;
    font-weight: 300;
    /* margin-left: 23px; */
    color: #28b6cf;
    font-size: 20px;
}

.projectTitle {
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
    font-weight: 300;
    font-size: 40px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.projectLink {
    color: #28b6cf;
    margin-top: 20px;
}

.projectLink:hover {
    color: #3694a5;
}

.projectDesciption {
    margin-top: 5px;
    margin-bottom: 10px;
}

.card-container {
	align-items: start;
	display: grid;
    grid-gap: 16px;
    margin-bottom: 150px;
    margin-top: 40px;
	grid-template-columns: repeat(auto-fit, 300px);
	justify-content: center;
}

.card {
	border-radius: 5px;
	color: white;
    width: 270px;
    height: 25vh;
    margin-top: 10px;
    border-radius: 3px;
    margin-bottom: 250px;
	text-align: center;
	text-shadow: 1px 1px 0 #555;
}

.fab {
    margin-left: 10px;

}

@media only screen and (max-width: 420px) {
    .projectName {
        font-size: 40px;
        margin-left: 30px;
    }
    .projectSub-name{
        font-size: 16px;
        margin-left: 90px;
    }
}

@media only screen and (max-width: 400px) {
    .projectHead {
        height: 14vh;
    }
}

@media only screen and (max-width: 1200px) {
    .projectHead {
        height: 14vh;
    }
}
